<div class="panel panel-primary">
  <div class="panel-body">
      <div class="page-header clearfix" style="margin: 0 !important;">
          <div class="col-lg-9 text-left"><h3 style="margin: 0;">Ticket Found</h3></div>
      </div>
      <br/>
      <table class="table table-hover">
          <thead>
          <tr>
              <th>Number</th>
              <th>Customer</th>
              <th>Destination</th>
              <th>Date reservation</th>
          </tr>
          </thead>
          <tbody>
          {% if list_ticket_sold %}
              {% for ticket in ticket_sold %}
                  {% if ticket.key.id() in list_ticket_sold %}
                      <tr>
                          <td><a  href="{{ url_for('Search_Ticket_Boarding', ticket_id=ticket.key.id(), departure_id=departure_id.key.id()) }}" class="link_ticket">{{ ticket.key.id() }}</a></td>
                          <td>{{ ticket.customer.get().first_name }} {{ ticket.customer.get().last_name }}</td>
                          <td>
                              {{ ticket.departure.get().destination.get().destination_start.get().name }}
                                            -
                              {{ ticket.departure.get().destination.get().destination_check.get().name }}
                          </td>
                          <td>{{ ticket.date_reservation|format_date("%d-%m-%Y") }}</td>
                      </tr>
                  {% endif %}
              {% endfor %}
          {% else %}
              <tr>
                  <td colspan="4"><h4 class="text-center">Ticket not found</h4></td>
              </tr>
          {% endif %}
          </tbody>
      </table>
  </div>
</div>
<script>
    // Traitement de la recherche de ticket
        $('.link_ticket').click(function(e){
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'POST',
                success: function(data) {
                    $('#NoFoundTicketBoarding').addClass('hidden');
                    $('#FindTicketBoarding').removeClass('hidden').html(data);
                }
            });


        });
</script>



