{% extends 'base.html' %}

{% block layout_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                    {% include 'includes/menu-recording.html' %}
            </div>
            <div class="col-lg-10">
                <section>
                        <ol class="breadcrumb">
                          <li><a href="{{ url_for('Recording') }}">Recording</a></li>
                          <li><a href="{{ url_for('Customer_Index') }}">Customer</a></li>
                            {% if customer_id %}
                                <li class="active">Edit</li>
                            {% else %}
                                <li class="active">New</li>
                            {% endif %}
                        </ol>
                        <div class="row">
                            <div class="col-lg-8">
                                {% include 'includes/flash_message.html' %}

                                {% if customer_count >= 1 %}
                                    <div class="alert alert-warning">
                                        <a class="close" data-dismiss="alert">×</a>
                                        Click here to update this customer <a href="{{ url_for('Customer_Edit', customer_id=customer_view.key.id()) }}"> {{ customer_view.first_name }} {{ customer_view.last_name }}</a>
                                    </div>

                                {% endif %}

                                <form method="post" class="form-horizontal">
                                    <fieldset><legend>Edit Customer {{ success }}</legend>
                                        {{ form.hidden_tag() }}
                                        <div class="form-group {% if form.first_name.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.first_name.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.first_name(class_='form-control')|safe }}
                                              {% for message in form.first_name.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                        </div>
                                        <div class="form-group {% if form.last_name.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.last_name.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.last_name(class_='form-control')|safe }}
                                              {% for message in form.last_name.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                        </div>
                                        <div class="form-group {% if form.birthday.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.birthday.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.birthday(class_='form-control', id="datepickerbirth")|safe }}
                                              {% for message in form.birthday.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}
                                            </div>
                                        </div>
                                        
                                        <div class="form-group {% if form.passport_number.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.passport_number.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.passport_number(class_='form-control', id="passport")|safe }}
                                              {% for message in form.passport_number.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}
                                            </div>
                                        </div>
                                                                                    
                                        <div class="form-group {% if form.nic_number.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.nic_number.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.nic_number(class_='form-control', id="nic")|safe }}
                                              {% for message in form.nic_number.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}
                                            </div>
                                        </div>
                                        
                                        <div class="form-group {% if form.profession.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.profession.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.profession(class_='form-control')|safe }}
                                              {% for message in form.profession.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                        </div>
                                       <div class="form-group {% if form.email.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.email.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.email(class_='form-control')|safe }}
                                              {% for message in form.email.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                        </div>
                                        
                                        <div class="form-group {% if form.phone.errors or form.dial_code.errors  %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.phone.label }} :</label>
                                            <div class="col-sm-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <select name="dial_code" id="" class="form-control g-select input-lg">
                                                        <option value="">{{ form.dial_code.label }}</option>
                                                        {% for key, val in number_list.items() %}
                                                            <option value="{{ val }}" {% if form.dial_code.data == val %} selected {% endif %}>{{ key }} ({{ val }})</option>
                                                        {% endfor %}
                                                    </select>
                                                  {% for message in form.dial_code.errors %}
                                                    <span class="help-block text-danger">{{ message }}</span>
                                                  {% endfor %}
                                                </div>
                                                <div class="col-lg-6">
                                                    {{ form.phone(class_='form-control')|safe }}
                                                  {% for message in form.phone.errors %}
                                                    <span class="help-block text-danger">{{ message }}</span>
                                                  {% endfor %}
                                                </div>
                                            </div>


                                            </div>
                                        </div>
                                        
                                        <div class="form-group {% if form.nationality.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.nationality.label }} :</label>
                                            <div class="col-sm-9">
                                                <select name="nationality" id="" class="form-control g-select input-lg">
                                                    <option value="">{{ form.nationality.label }}</option>
                                                    {% for key, val in nationalList.items() %}
                                                        <option value="{{ key }}" {% if form.nationality.data == key %} selected {% endif %}>{{ val }}</option>
                                                    {% endfor %}
                                                </select>
                                              {% for message in form.nationality.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                          </div>

                                          <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-10">

                                              <button type="submit" class="btn btn-primary">Save</button>
                                                <a href="{{ url_for('Customer_Index') }}" class="btn btn-default">Return</a>
                                            </div>
                                          </div>

                                    </fieldset>
                                </form>
                            </div>
                            <div class="col-lg-4">

                            </div>
                        </div>

                </section>
            </div>
        </div>
    </div>
{% endblock %}
