{% extends 'base.html' %}

{% block layout_content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                    {% include 'includes/menu-settings.html' %}
            </div>
            <div class="col-lg-10">
                <section>
                        <ol class="breadcrumb">
                          <li><a href="{{ url_for('Settings') }}">Settings</a></li>
                          <li class="active">Agency</li>
                        </ol>
                        <nav class="navbar navbar-toolbar navbar-default" role="navigation">
                          <div class="container-fluid">
                            <div class="btn-toolbar" role="toolbar">
                               <div class="btn-group pull-left">
                                   <a href="{{ url_for('Agency_Edit') }}" class="btn btn-danger btn-lg">New</a>
                               </div>
                            </div>
                          </div>
                        </nav>
                        {% include 'includes/flash_message.html' %}

                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-hover" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Phone</th>
                                    <th>Town</th>
                                    <th class="nosort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for agence in agency %}
                                    <tr {% if agence.status %} class="success" {% endif %}>
                                        <td>{{ agence.name }}</td>
                                        <td>
                                            {% if agence.is_achouka %}
                                                Agency
                                            {% else %}
                                                Partner
                                            {% endif %}
                                        </td>
                                        <td>{{ agence.phone }}</td>
                                        <td>
                                            {{ agence.destination.get().name }}
                                        </td>
                                        <td class="nosearch">
                                            <a href="{{ url_for('Agency_Edit', agency_id = agence.key.id()) }}"
                                               class="btn btn-link btn-xs">Edit</a>
                                            {% if agence.status %}
                                                <a href="{{ url_for('Active_Agency', agency_id=agence.key.id()) }}"
                                                   class="btn  btn-danger btn-xs ">Disable</a>
                                            {% else %}
                                                <a href="{{ url_for('Active_Agency', agency_id=agence.key.id()) }}"
                                                   class="btn  btn-success btn-xs">Activate</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <h4>Last Activity</h4>
                                    <hr/>
                                    {% for feed in feed_tab %}
                                        <blockquote style="padding: 10px 6px;">
                                            {% if feed['nature'] == 1 %}
                                                  <p style="font-size: 13px;"><strong>New Record</strong> : <a href="{{ url_for('Agency_Edit', agency_id=feed['id']) }}">{{ feed['data'] }}</a></p>
                                            {% endif %}
                                            {% if feed['nature'] == 4 or feed['nature'] == 0 %}
                                                  <p style="font-size: 13px;"><strong>Record Updated</strong> : <a href="{{ url_for('Agency_Edit', agency_id=feed['id']) }}">{{ feed['data'] }}</a><br/>
                                                  {% if feed['last_value'] %} Modification ({{ feed['last_value'] }}) {% endif %}
                                                  </p>
                                            {% endif %}
                                            {% if feed['nature'] == 5 %}
                                                  <p style="font-size: 13px;"><strong>Record activated</strong> : <a href="{{ url_for('Agency_Edit', agency_id=feed['id']) }}">{{ feed['data'] }}</a></p>
                                            {% endif %}
                                            {% if feed['nature'] == 2 %}
                                                  <p style="font-size: 13px;"><strong>Record disabled</strong> : <a href="{{ url_for('Agency_Edit', agency_id=feed['id']) }}">{{ feed['data'] }}</a></p>
                                            {% endif %}
                                            <footer style="font-size: 65%;">{{ feed['time']|format_date("%d-%m-%Y %H:%M:%S") }} by {{ feed['user'].get().first_name }} {{ feed['user'].get().last_name }}</footer>
                                        </blockquote>
                                    {% else %}
                                        <blockquote style="padding: 10px 6px;">
                                            <p style="font-size: 13px;"><strong>No recent activity</strong> </p>
                                        </blockquote>
                                    {% endfor %}
                         {% if count > 5 %}
                            <a href="{{ url_for('Agency_Index', modal="1") }}" class="btn btn-link pull-right" data-toggle="modal" data-target="#myModal" data-backdrop="static">view more</a>
                        {% endif %}
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

        </div>
      </div>
    </div>

{% endblock %}
