<div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="pull-right text-right bg-info text-danger" style="margin-right:40px; margin-top: -6px; padding: 10px;">
            <strong>AMOUNT : </strong> {{ amount|format_price() }} {{ destination_get_id.currency.get().code }}

        </div>

        <h4 class="modal-title">Transaction foreign </h4>
</div>
<div class="modal-body scrollable-shadow" style="height: 600px; overflow-y: auto">
     <h3 class="text-primary">Agency : {{ agency_get_id.name }} to {{ destination_get_id.name }}</h3>
     <hr/>
     <table class="table table-hover" id="dataTableModal2">
        <thead>
        <tr>
            <th>Date transaction</th>
            <th>Amount</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
            {% for transaction in transaction_destination_query %}
                <tr>

                    <td>{{ transaction.transaction_date }}</td>
                    <td>{{ transaction.amount|format_price() }} {{ transaction.destination.get().currency.get().code }}</td>
                    <td>{{ transaction.user.get().last_name }} {{ transaction.user.get().first_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div class="modal-footer bg-info">
    <form class="form-horizontal" id="formulaires">
            <div class="col-lg-7">
                    <div class="form-group text-left" id="form-input">
                        <label for="amount_received" class="col-sm-6 control-label">Amount received ( {{ destination_get_id.currency.get().code }} ) :</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="amount_received" name="amount">
                            <span class="help-block hidden text-danger" id="help-error">Amount required or the data is not numeric and greater than zero</span>
                        </div>
                    </div>
             </div>
    </form>
    <div class="col-lg-5">
        <a href="{{ url_for('Payment_admin_foreign', agency_id=agency_id) }}" class="btn btn-danger" id="return">Return</a>
        <button type="button" class="btn" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" id="submit_foreign">Valid payment</button>
    </div>

</div>

<!-- Modal -->
<div class="modal fade modal2" id="modal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content2">
        <div class="modal-footer">
            <div class="col-lg-8 text-danger text-left" style="padding: 7px;">
                <strong>Do you confirm this received amount  : <span id="amr"></span> {{ destination_get_id.currency.get().code }} </strong>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-success" id="confirm" data-loading-text="Waiting...">Confirm</button>

                <button type="button" class="btn btn-danger" id="CloseModal2">Cancel</button>
            </div>

        </div>

    </div>
  </div>
</div>



<script>

    $('#dataTableModal2').dataTable();

    $('.modal-content').on('click', 'a#return', function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      $.get(url, function(data) {
          $('.modal-content').html(data);
      });
    });

    $('#submit_foreign').on('click', function(e){
        e.preventDefault();
        if($('#amount_received').val() != "" && $.isNumeric($('#amount_received').val()) && $('#amount_received').val() > 0){
            $('#modal2').attr({style:'display:block;padding-right: 17px;background-color: rgba(255,255,255,0.5);padding-top: 275px;'}).addClass('in');
            $('.modal-backdrop').after('<div class="modal-backdrop fade in"></div>');
            $(this).addClass('disabled');
            $('#help-error').addClass('hidden');
            $('#form-input').removeClass('has-error');
            $('#amr').text($('#amount_received').val());

        }else{
            $('#help-error').removeClass('hidden');
            $('#form-input').addClass('has-error');
        }
    });

    $('.modal-content2').on('click','#CloseModal2', function(e){
        e.preventDefault();
        $('#modal2').attr({style:'display:none;'}).removeClass('in');
        $('.modal-backdrop:last-child').remove();
        $('#submit_foreign').removeClass('disabled');
    });

    $('.modal-content2').on('click', '#confirm', function(e){
        e.preventDefault();
        var btn = $(this);
        btn.button('loading');
        $('#CloseModal2').addClass('hidden');
        var url = "{{ url_for('Payment_admin_foreign_single', agency_id=agency_id, destination_id=destination_id) }}";
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#formulaires').serialize(),
            success: function(data) {
                btn.addClass('disabled');
                btn.html('<i class="glyphicon glyphicon-ok"></i> Success');
                window.location.replace(window.location.origin+"{{ url_for('Transaction_Agency', agency_id=agency_get_id.key.id() ) }}").delay(2000);
            }
        });
    });



</script>