<div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="pull-right text-right bg-info text-danger" style="margin-right:40px; margin-top: -6px; padding: 10px;">
            <strong>AMOUNT : </strong> {{ current_transaction_get_id.amount|format_price() }} {{ current_transaction_get_id.destination.get().currency.get().code }}
        </div>

        <h4 class="modal-title">Detail Transaction : {{ current_transaction_get_id.key.id() }}</h4>
</div>

<div class="modal-body scrollable-shadow" style="height: 500px; overflow-y: auto">
     <h3 class="text-primary">User/Employee : {{ current_transaction_get_id.user.get().last_name }} {{ current_transaction_get_id.user.get().first_name }}</h3>
     <hr/>
     <table class="table table-hover" id="dataTable1">
        <thead>
        <tr>
            <th>Ticket Type</th>
            <th>Travel</th>
            <th>Number</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
            {% for transaction in detail_transaction %}
                <tr class="">

                    <td>
                        {{ transaction['class'].get().name }}
                        -
                        {{ transaction['type'].get().name }}
                        -
                        {{ transaction['journey'].get().name }}
                    </td>
                    <td>{{ transaction['travel'].get().destination_start.get().name }}
                    -
                    {{ transaction['travel'].get().destination_check.get().name }}</td>
                 <td>{{ transaction['number']|format_price() }}</td>
                 <td>{{ transaction['amount']|format_price() }} {{ transaction['currency'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<script>
    $('#dataTable1').dataTable({
        "paging": true,
        "bFilter": false,
        'aoColumnDefs': [
            {'bSortable': false, 'aTargets': ['nosort']},
            {'bSearchable': false, "aTargets": ['nosort']}
        ]
    });
</script>