<div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="pull-right text-right bg-info text-danger" style="margin-right:40px; margin-top: -6px; padding: 10px;">
            <strong>ESCROW : </strong> {{ user_get_id.escrow_amount() }}
        </div>

        <h4 class="modal-title">SELLER : {{ user_get_id.last_name }} {{ user_get_id.first_name }}</h4>
</div>
<div class="modal-body scrollable-shadow" style="height: 550px; overflow-y: auto">
        <h3 class="text-primary">Expected Payment <small>( {{ user_get_id.ticket_number_selling() }} Tickets)</small></h3>
        <hr/>
    <table class="table table-hover" id="dataTable1">
        <thead>
        <tr>
            <th>Travel line</th>
            <th>Ticket Type</th>
            <th>Number</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
            {% for ticket in user_get_id.ticket_user_no_transaction_payment() %}
                    <tr>
                        <td>{{ ticket['travel'].get().destination_start.get().name }} - {{ ticket['travel'].get().destination_check.get().name }}</td>
                        <td>{{ ticket['class'].get().name }} - {{ ticket['type'].get().name }} - {{ ticket['journey'].get().name }}</td>
                        <td>{{ ticket['number'] }}</td>
                        <td>{{ ticket['amount']|format_price() }} {{ ticket['currency'].get().code }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>

    <h3 class="text-primary">Outstanding Payment</h3>
    <hr/>
    <table class="table table-hover" id="dataTable2">
        <thead>
        <tr>
            <th>Travel line</th>
            <th>Ticket Type</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
            {% for ticket in user_get_id.ticket_user_transaction_payment_no_solved() %}
                    <tr>
                        <td>{{ ticket['travel'].get().destination_start.get().name }} - {{ ticket['travel'].get().destination_check.get().name }}</td>
                        <td>{{ ticket['class'].get().name }} - {{ ticket['type'].get().name }} - {{ ticket['journey'].get().name }}</td>
                        <td>{{ ticket['amount']|format_price() }} {{ ticket['currency'].get().code }}</td>
                        <td>{{ ticket['balance']|format_price() }} {{ ticket['currency'].get().code }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer bg-info">

            <div class="col-lg-7">

             </div>
            <div class="col-lg-5">
                <button type="button" class="btn" data-dismiss="modal">Close</button>


            </div>


</div>
<script>
    $('#dataTable1').dataTable({
        "paging": true,
        "bFilter": true,
        'aoColumnDefs': [
            {'bSortable': false, 'aTargets': ['nosort']},
            {'bSearchable': false, "aTargets": ['nosort']}
        ]
    });
    $('#dataTable2').dataTable({
        "paging": true,
        "bFilter": true,
        'aoColumnDefs': [
            {'bSortable': false, 'aTargets': ['nosort']},
            {'bSearchable': false, "aTargets": ['nosort']}
        ]
    });

</script>