{% extends 'base.html' %}

{% block layout_content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                    {% include 'includes/menu-settings.html' %}
            </div>
            <div class="col-lg-10">
                <section>
                        <ol class="breadcrumb">
                          <li><a href="{{ url_for('Settings') }}">Settings</a></li>
                          <li class="active">Travel Lines</li>
                        </ol>
                    <div class="col-lg-12">
                        <table class="table table-hover" id="dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        From
                                    </th>
                                    <th>To</th>
                                    <th>
                                        Line Travel Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for travel in travels %}
                                <tr>
                                    <td>{{ travel.destination_start.get().name }}</td>
                                    <td>{{ travel.destination_check.get().name }}</td>
                                    <td>{% if travel.time %} {{ travel.time|format_date("%H:%M") }} {% endif %}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </section>
            </div>
        </div>
    </div>

{% endblock %}