<div class="modal-header bg-danger">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Type of ticket to upgrade</h4>
</div>
<div class="modal-body">
    <table class="table table-hover" id="dataTables">
        <thead>
        <tr>
            <th>Class</th>
            <th>Type</th>
            <th>Journey</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for type in ticket_to_upgrade %}
            {% if type.price > ticket_type_get.price %}
                <tr class="line" id="{{ type.key.id() }}">
                    <td>{{ type.class_name.get().name }}</td>
                    <td>{{ type.type_name.get().name }}</td>
                    <td>{{ type.journey_name.get().name }}</td>
                    <td>{{ type.price|format_price() }} {{ type.currency.get().code }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a href="{{ url_for('create_customer_and_ticket_upgrade', ticket_id=ticket_id, departure_id=departure_id, parent_ticket=parent_ticket, upgrade=upgrade) }}" class="btn btn-danger" id="return">Return</a>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
    <button type="button" class="btn btn-info disabled" id="submit" data-loading-text="Loading...">Continued</button>
</div>

<script>
    $('.line').on('click', function(){
        var id = "/"+$(this).attr('id'){% if upgrade or parent_ticket %}+"?parent_ticket={{ parent_ticket }}&upgrade={{ upgrade }}"{% endif %};
        var url = "{{ url_for('create_upgrade_ticket', departure_id=departure_id, ticket_id=ticket_id, ticket_type_same_id=ticket_type_id) }}"+id;

        $('.pred').removeClass('info');
        var pred = $('.pred').attr('id');
        $(pred).removeClass('pred');

        $(this).addClass('info');
        $(this).addClass('pred');
        $('#submit').removeClass('disabled');
        $('#submit').attr({'data-href': url});
    });


    $('#submit').on('click', function(e){
        e.preventDefault();
        var url = $(this).attr('data-href');
        $(".close").addClass('hidden');
        $("#return").addClass('disabled');
        $("#close").addClass('disabled');
        var btn = $(this);
        btn.button('loading');
        $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    $('#myModal').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#info_ticket').addClass('hidden').html('');
                    $('#ScreenIndexPos').hide();
                    $('#ScreenCreateTicket').removeClass('hidden').html(data);
                }
        });

    });

    $('a#return').click(function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      $.get(url, function(data) {
          $('.modal-content').html(data);
      });
    });

    $('#dataTables').dataTable({
        'aoColumnDefs': [
            {'bSortable': false, 'aTargets': ['nosort']},
            {'bSearchable': false, "aTargets": ['nosort']}
        ]
    });
</script>