<form method="post" id="formulaire">
    <div class="row">
        <div class="col-lg-12"><button class="btn btn-link pull-right" id="CloseScreenCreateTicket">X</button></div>
        <div class="col-lg-4">
            <div class="panel panel-info panel-pos">
              <div class="panel-heading text-center"><h4>Customer Information</h4></div>
              <div class="panel-body">
                  {{ form.hidden_tag() }}
                <div class="form-group  {% if form.first_name.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.first_name.label }} :</label>
                    {{ form.first_name(class_='form-control')|safe }}
                    {% for message in form.first_name.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>
                <div class="form-group {% if form.last_name.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.last_name.label }} :</label>
                    {{ form.last_name(class_='form-control')|safe }}
                    {% for message in form.last_name.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>
                <div class="form-group {% if form.birthday.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.birthday.label }} :</label>
                    {% if request.args.get("parent_ticket") %}
                        {{ form.birthday(class_='form-control', id="datepickerbirth", disabled="disabled")|safe }}
                        <input type="hidden" name="birthday" value="{{ form.birthday.data|format_date("%d/%m/%Y") }}"/>
                    {% else %}
                        {{ form.birthday(class_='form-control', id="datepickerbirth")|safe }}
                    {% endif %}
                    {% for message in form.birthday.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>

                <div class="form-group {% if form.passport_number.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.passport_number.label }} :</label>
                    {{ form.passport_number(class_='form-control', id="passport")|safe }}
                    {% for message in form.passport_number.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>

                <div class="form-group {% if form.nic_number.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.nic_number.label }} :</label>
                    {{ form.nic_number(class_='form-control', id="nic")|safe }}
                    {% for message in form.nic_number.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>

                <div class="form-group {% if form.email.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.email.label }} :</label>
                    {{ form.email(class_='form-control')|safe }}
                    {% for message in form.email.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>
                <div class="form-group {% if form.dial_code.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.dial_code.label }} :</label>
                     <select name="dial_code" id="" class="form-control g-select input-lg">
                        <option value="">Select {{ form.dial_code.label }}</option>
                        {% for key, val in number_list.items() %}
                            <option value="{{ val }}" {% if form.dial_code.data == val %} selected {% endif %}>{{ key }} ({{ val }})</option>
                        {% endfor %}
                    </select>
                    {% for message in form.dial_code.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                      {% endfor %}
                </div>
                <div class="form-group {% if form.phone.errors %} has-error {% endif %} has-feedback">
                    <label>{{ form.phone.label }} :</label>
                    {{ form.phone(class_='form-control')|safe }}
                    {% for message in form.phone.errors %}
                        <span class="help-block text-danger">{{ message }}</span>
                    {% endfor %}
                </div>
                  <div class="form-group">
                    <label>{{ form.profession.label }} :</label>
                    {{ form.profession(class_='form-control')|safe }}
                </div>
                  <div class="form-group">
                    <label>{{ form.nationality.label }} :</label>
                    <select name="nationality" id="" class="form-control g-select input-lg">
                        <option value="">Select {{ form.nationality.label }}</option>
                        {% for key, val in nationalList.items() %}
                            <option value="{{ key }}" {% if form.nationality.data == key %} selected {% endif %}>{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>

              </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">

            <div class="panel panel-info panel-pos">
              <div class="panel-heading text-center"><h4>Ticket Type</h4> </div>
              <div class="panel-body text-center">
                  <div class="alert alert-danger hidden" id="alert"> </div>
                  <div class="row">
                      <h6>Type</h6>
                      <h4>{{ Ticket_Return.type_name.get().name }}</h4>
                  </div>

                  <hr/>
                    <div class="row">
                        <h6>Class</h6>
                        <h4>{{ Ticket_Return.class_name.get().name }}</h4>
                    </div>
                  <hr/>
                  <div class="row">
                      <h6>Journey</h6>
                      <h4>Return Ticket</h4>
                  </div>

              </div>
            </div>

        </div>
        <div class="col-lg-6">
                    <div class="text-center well">
                        <h6>Parent ticket price</h6>
                      <h1 style="margin:0;">
                              <span class="text-muted">{{ Ticket_Return.sellprice|format_price() }}
                              </span>
                              <span class="text-primary">{{ Ticket_Return.sellpriceCurrency.get().code }}
                              </span>
                      </h1>
                    </div>
                    <div class="panel panel-info panel-pos">
                      <div class="panel-heading text-center"><h4>Question</h4></div>
                      <div class="panel-body">
                        {% for question in questions %}
                            <div class="checkbox" {% if question.key.id() in quest_obligated and obligated == true  %} style ="color:red;" {% endif %}>
                              <label>
                                <input type="checkbox" name="questions" value="{{ question.key.id() }}" {% if question_request and  question.key.id() in question_request %} checked="checked" {% endif %} >
                                {{ question.question }}
                              </label>
                              <p class="text-right {% if question.key.id() not in quest_obligated %} hidden {% endif %}"><small>(*) Obligation</small></p>
                            </div>
                        {% else %}
                            <div class="panel-body text-center">
                                <h3>No Required Question</h3>
                            </div>
                        {% endfor %}

                      </div>
                    </div>
        </div>
                <div class="col-lg-12">
                    <div class="ticket_background clearfix">
                          <div class="col-lg-6"></div>
                          <div class="col-lg-6 info_left">
                              Ticket Type<br>
                              <i>
                                  {{ Ticket_Return.class_name.get().name }} - {{ Ticket_Return.type_name.get().name }} - Return Ticket
                              </i>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group">
                                <label for="exampleInputEmail1">NAME/NOM</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value ="{{ form.first_name.data }} {{ form.last_name.data }}" id="name">
                              </div>
                          </div>
                        <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">FROM/DE</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value="{{ departure_current.destination.get().destination_start.get().name }}">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">DESTINATION/A</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value="{{ departure_current.destination.get().destination_check.get().name }}">
                              </div>
                          </div>
                         <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">DATE/DE</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value="{{ departure_current.departure_date|format_date("%d-%m-%Y") }}">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">TIME/HEURE</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value="{{ departure_current.schedule|add_time(departure_current.time_delay)|format_date("%H:%M") }}">
                              </div>
                          </div>
                         <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">SOLDE AT/LIEU DE VENTE</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value="{{ current_user.agencys() }}">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">AGENCE CODE</label>
                                <input type="text" class="form-control disabled" disabled="disabled" value="{{ current_user.key.id() }}">
                              </div>
                          </div>
                    </div>
                </div>
            <div class="col-lg-12">
                <br/>
                <a href="{{ url_for('create_customer_and_ticket_return', ticket_id=ticket_id, departure_id=departure_id, parent_ticket=request.args.get("parent_ticket")) }}" class="btn btn-success pull-right" data-loading-text="Confirmation..." id="submit" data-backdrop="static">Sell Ticket</a>
            </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

    </div>
  </div>
</div>
<script>
    $('#datepickerbirth').inputmask("date", { placeholder:"__/__/____"});

    $("select.g-select").each(function() {
        var e = $(this);
        e.select2()
    });

    $('#CloseScreenCreateTicket').click(function(e) {
            e.preventDefault();
            $('#ScreenIndexPos').show();
            $('#list_all_departure').show();
            $('#ScreenCreateTicket').addClass('hidden').html('');
    });



    var modals = '{{ modal }}';

    if(modals == 'true'){
        {% if ticket_update %}
            var url_modal = '{{ url_for('modal_generate_pdf_ticket', ticket_id=ticket_update.id()) }}';
        {% endif %}
        $('#myModal').modal({
             show: true,
             backdrop:"static"
        });
        $.get(url_modal, function(data) {
          $('.modal-content').empty().html(data);
        });
        $("#submit").removeClass('btn-success');
        $("#submit").addClass('btn-danger');
        $("#submit").addClass('disabled');
        $("#submit").text('Sale made');
    }


    $(document).ready(function(){
        $("input#last_name,input#first_name").on('change', function() {
            var last_name = $("input#last_name").val();
            var first_name = $("input#first_name").val();
            $('#name').val(last_name+" "+first_name)

        });


        $('#submit').click(function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $(this).button('loading');
            $.ajax({
                url: url,
                data: $('#formulaire').serialize(),
                type: 'POST',
                success: function(data) {
                    $('#ScreenIndexPos').hide();
                    $('#ScreenCreateTicket').removeClass('hidden').html(data);
                }
            });
        });

        $('#myModal').on('hidden.bs.modal', function () {

            var url_remaining = "{{ url_for('remaining_ticket') }}";

            $.ajax({
                url: url_remaining,
                type: 'GET',
                contentType: 'application/json;charset=UTF-8',
                dataType: "json",
                success: function(data) {
                    $('#remaining_ticket').text(data['ticket']);
                    $('#ScreenCreateTicket').addClass('hidden').html('');
                    $('#ScreenIndexPos').show();
                    $('.datepickerbirth').val('');
                    $('.datepickerbirth').focus();
                    $('#list_all_departure').show();
                }
            });
        });

    });

</script>
