{% extends 'base.html' %}

{% block layout_content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                    {% include 'includes/menu-settings.html' %}
            </div>
            <div class="col-lg-10">
                <section>
                        <ol class="breadcrumb">
                          <li><a href="{{ url_for('Settings') }}">Settings</a></li>
                          <li class="active">Profile</li>
                        </ol>
                        <nav class="navbar navbar-toolbar navbar-default" role="navigation">
                          <div class="container-fluid">
                            <div class="btn-toolbar" role="toolbar">
                               <div class="btn-group pull-left">
                                   <a href="{{ url_for('Profil_Edit') }}" class="btn btn-danger btn-lg">New</a>
                               </div>
                            </div>
                          </div>
                        </nav>
                        {% include 'includes/flash_message.html' %}

                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-hover" id="dataTable">
                                <thead>
                                <tr>
                                    <th>Profile Name</th>
                                    <th>Profile Type</th>
                                    <th class="nosort"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for profil in profil_lists %}
                                    <tr {% if profil.enable %} class="success" {% endif %}>
                                        <td>{{ profil.name }} </td>
                                        <td>
                                            {% if profil.standard %}
                                                <span class="label label-danger">Unchangeable</span>
                                            {% else %}
                                                <span class="label label-info">Changeable</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if profil.standard %}
                                                {% if current_user.has_roles('super_admin') %}
                                                    <a class="btn btn-link btn-xs"
                                                       href="{{ url_for('Profil_Edit', profil_id=profil.key.id()) }}">Edit</a>
                                                {% endif %}
                                                <a class="btn btn-link btn-xs"
                                                   href="{{ url_for('Profil_View', profil_id=profil.key.id()) }}">View</a>
                                            {% else %}
                                                <a class="btn btn-link btn-xs"
                                                   href="{{ url_for('Profil_Edit', profil_id=profil.key.id()) }}">Edit</a>
                                                <a class="btn btn-link btn-xs"
                                                   href="{{ url_for('Profil_Delete', profil_id=profil.key.id()) }}">Delete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <h4>Last Activity</h4>
                                    <hr/>
                                    {% for feed in feed_tab %}
                                        <blockquote style="padding: 10px 6px;">
                                            {% if feed['nature'] == 1 %}
                                                  <p style="font-size: 13px;"><strong>New Record</strong> : <a href="{{ url_for('Profil_Edit', profil_id=feed['id']) }}">{{ feed['data'] }}</a></p>
                                            {% endif %}
                                            {% if feed['nature'] == 10 %}
                                                  <p style="font-size: 13px;"><strong>Record Updated</strong> : Role {{ feed['data'] }} added to <a href="{{ url_for('Profil_Edit', profil_id=feed['id']) }}"> {{ feed['last_value'] }} </a> </p>
                                            {% endif %}

                                            {% if feed['nature'] == 13 %}
                                                  <p style="font-size: 13px;"><strong>Record Updated</strong> : Role {{ feed['data'] }} removed to <a href="{{ url_for('Profil_Edit', profil_id=feed['id']) }}"> {{ feed['last_value'] }} </a> </p>
                                            {% endif %}
                                            {% if feed['nature'] == 4 %}
                                                  <p style="font-size: 13px;"><strong>Record Updated</strong> : <a href="{{ url_for('Profil_Edit', profil_id=feed['id']) }}">{{ feed['data'] }}</a></p>
                                            {% endif %}
                                            {% if feed['nature'] == 3 %}
                                                  <p style="font-size: 13px;"><strong>Record deleted</strong> : {{ feed['data'] }}</p>
                                            {% endif %}
                                            <footer style="font-size: 65%;">{{ feed['time']|format_date("%d-%m-%Y %H:%M:%S") }} by {{ feed['user'].get().first_name }} {{ feed['user'].get().last_name }}</footer>
                                        </blockquote>
                                    {% else %}
                                        <blockquote style="padding: 10px 6px;">
                                            <p style="font-size: 13px;"><strong>No recent activity</strong> </p>
                                        </blockquote>
                                    {% endfor %}
                         {% if count > 5 %}
                            <a href="{{ url_for('Profil_Index', modal="1") }}" class="btn btn-link pull-right" data-toggle="modal" data-target="#myModal" data-backdrop="static">view more</a>
                        {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

      <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

        </div>
      </div>
    </div>

{% endblock %}
