<div class="modal-header bg-warning">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Select Role for your profil</h4>
</div>

<form action="{{ url_for('Add_Role_Profil', profil_id=profil_id) }}" class="form-horizontal" method="post">
    <div class="modal-body">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Role Name</th>
            </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                {% if role.key not in profilrole %}
                    <tr>
                        <td><input type="checkbox" name="roles" value="{{ role.key.id() }}"/></td>
                        <td>{{ role.name }}</td>
                    </tr>
                {% endif %}

            {% else %}
                <tr>
                    <td colspan="2">
                        <h3 class="text-center">Data not found</h3>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Valid</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>