{% extends 'base.html' %}

{% block layout_content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <section>
                    <div class="page-header clearfix text-center" style="margin: 0 !important;">
                      <h1  style='margin: 0;'>{{ current_user.first_name }} {{ current_user.last_name }}, welcome to your <small>DASHBOARD</small> </h1>
                    </div>
                    <br/>
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="list-group">
                              <a class="list-group-item text-center">
                                <h3 class="list-group-item-heading text-info">Next Journey</h3>
                                  {% if current_departure %}
                                    <p class="list-group-item-text">
                                        {{ current_departure.destination.get().destination_start.get().name }} - {{ current_departure.destination.get().destination_check.get().name }}
                                        <br/>
                                        {{ current_departure.departure_date|format_date("%d-%m-%Y") }} {{ current_departure.schedule|add_time(current_departure.time_delay)|format_date("%H:%M") }} {% if current_departure.time_delay %}({{ current_departure.time_delay }}) {% endif %}
                                    </p>
                                  {% else %}
                                    <p class="list-group-item-text">None</p>
                                  {% endif %}
                              </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="list-group">
                              <a class="list-group-item text-center">
                                <h3 class="list-group-item-heading">Incoming Journey</h3>
                                {% if current_departure_check %}
                                    <p class="list-group-item-text">
                                        {{ current_departure_check.destination.get().destination_start.get().name }} - {{ current_departure_check.destination.get().destination_check.get().name }}
                                        <br/>
                                        {{ current_departure_check.departure_date|format_date("%d-%m-%Y") }} {{ current_departure_check.schedule|add_time(current_departure_check.time_delay)|format_date("%H:%M") }} {% if current_departure_check.time_delay %}({{ current_departure_check.time_delay }}) {% endif %}
                                    </p>
                                  {% else %}
                                    <p class="list-group-item-text">None</p>
                                  {% endif %}
                              </a>
                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="list-group">
                              <a class="list-group-item text-center">
                                <h3 class="list-group-item-heading">Ongoing Journey</h3>
                                {% if current_departure_in_progress %}
                                    <p class="list-group-item-text">
                                        {{ current_departure_in_progress.destination.get().destination_start.get().name }} - {{ current_departure_in_progress.destination.get().destination_check.get().name }}
                                        <br/>
                                        {{ current_departure_in_progress.departure_date|format_date("%d-%m-%Y") }} {{ current_departure_in_progress.schedule|add_time(current_departure_in_progress.time_delay)|format_date("%H:%M") }} {% if current_departure_in_progress.time_delay %}({{ current_departure_in_progress.time_delay }}) {% endif %}
                                    </p>
                                  {% else %}
                                    <p class="list-group-item-text">None</p>
                                  {% endif %}
                              </a>
                            </div>
                     </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <span class="lead text-center">Local Ticket Sale</span>
                              </div>
                              <div class="panel-body">
                                 <table class="table table-hover" id="dataTableDash">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>U.P</th>
                                        <th class="nosort text-center">Number</th>
                                        <th class="nosort text-center">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for type in the_ticket_sale %}
                                           {% if type['travel'].get().destination_start == agency_user.destination %}
                                                <tr>
                                                    <td>{{ type['date'] }}</td>
                                                    <td>
                                                        <strong>{{ type['travel'].get().destination_start.get().name }} - {{ type['travel'].get().destination_check.get().name }} </strong> <br/>
                                                        <small>{{ type['class'].get().name }} - {{ type['type'].get().name }} - {{ type['journey'].get().name }}</small>

                                                    </td>
                                                    <td>{{ type['prices']|format_price() }} {{ type['currency'] }}</td>
                                                    <td class="text-center">{{ type['number'] }}</td>
                                                    <td class="text-center">{{ type['price']|format_price() }} {{ type['currency'] }}</td>
                                                </tr>
                                           {% endif %}
                                       {% endfor %}
                                    </tbody>
                                </table>
                              </div>
                            </div>
                            <hr/>
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                <span class="lead text-center">Foreign Ticket Sale</span>
                              </div>
                              <div class="panel-body">
                                 <table class="table table-hover" id="dataTableDash2">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>U.P</th>
                                        <th class="nosort text-center">Number</th>
                                        <th class="nosort text-center">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for type in the_ticket_sale %}
                                           {% if type['travel'].get().destination_start != agency_user.destination %}
                                                <tr>
                                                    <td>{{ type['date'] }}</td>
                                                    <td>
                                                        <strong>{{ type['travel'].get().destination_start.get().name }} - {{ type['travel'].get().destination_check.get().name }} </strong> <br/>
                                                        <small>{{ type['class'].get().name }} - {{ type['type'].get().name }} - {{ type['journey'].get().name }}</small>

                                                    </td>
                                                    <td>{{ type['prices']|format_price() }} {{ type['currency'] }}</td>
                                                    <td class="text-center">{{ type['number'] }}</td>
                                                    <td class="text-center">{{ type['price']|format_price() }} {{ type['currency'] }}</td>
                                                </tr>
                                           {% endif %}
                                       {% endfor %}
                                    </tbody>
                                </table>
                              </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_script %}
    <script>
        $('#dataTableDash').dataTable({
            "paging": true,
            "sPaginationType":"full_numbers",
            "bFilter": true,
            'aoColumnDefs': [
                {'bSortable': false, 'aTargets': ['nosort']},
                {'bSearchable': false, "aTargets": ['nosort']}
            ],
             "order": [[ 0, "desc" ]]
        });

        $('#dataTableDash2').dataTable({
            "paging": true,
            "sPaginationType":"full_numbers",
            "bFilter": true,
            'aoColumnDefs': [
                {'bSortable': false, 'aTargets': ['nosort']},
                {'bSearchable': false, "aTargets": ['nosort']}
            ],
             "order": [[ 0, "desc" ]]
        });

        $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show')
        });
    </script>
{% endblock %}