{% extends 'base.html' %}

{% block layout_body %}

        {% block layout_before_content %}         {% endblock %}

        {% block layout_content %}
            <div class="container">
                {% include 'includes/flash_message.html' %}
                <form class="form-horizontal form-signin" method="post" action="">
                        {{ form.hidden_tag() }}

                        <img src="/static/img/Comatrans-Transparent-Black-H.png" alt=""/>
                        <h2 class="form-signin-heading text-center">Please sign in</h2>

                        {{ form.email(class_='form-control', placeholder='Email') }}
                        {% if form.email.errors %}
                            <ul class="errors">
                                {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.password(class_='form-control', placeholder='Password') }}
                        {% if form.password.errors %}
                            <ul class="errors">
                                {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.submit(class_='btn btn-primary btn-block') }}
                    <br/>
                        {% if not exist %}
                            <a href="{{ url_for('Super_Admin_Create') }}" class="btn btn-block">Create super admin user</a>
                        {% endif %}

                </form>

            </div>
        {% endblock %}
        {% block layout_after_content %}  {% endblock %}

{% endblock %}