{% extends 'base.html' %}

{% block layout_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                    {% include 'includes/menu-recording.html' %}
            </div>
            <div class="col-lg-10">
                <section>
                        <ol class="breadcrumb">
                          <li><a href="{{ url_for('Recording') }}">Recording</a></li>
                          <li><a href="{{ url_for('Departure_Index') }}">Journeys</a></li>
                            {% if departure_id %}
                                <li class="active">Edit</li>
                            {% else %}
                                <li class="active">New</li>
                            {% endif %}
                        </ol>
                        <div class="row">
                            <div class="col-lg-8">
                                {% include 'includes/flash_message.html' %}
                                <form method="post" class="form-horizontal">
                                    <fieldset><legend>Edit Departure {{ time }}</legend>
                                          {{ form.hidden_tag() }}
                                          <div class="form-group {% if form.destination.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.destination.label }} :</label>
                                            <div class="col-sm-9">
                                                <select name="destination" id="" class="form-control g-select" {% if form.destination.data %} disabled="disabled" {% endif %}>
                                                    <option value="">{{ form.destination.label }}</option>
                                                    {% for departravel in departravel %}
                                                        <option value="{{ departravel.key.id() }}" {% if form.destination.data == departravel.key or form.destination.data|int == departravel.key.id() %} selected {% endif %}>{{ departravel.destination_start.get().name }} - {{ departravel.destination_check.get().name }}</option>
                                                    {% endfor %}
                                                </select>
                                              {% for message in form.destination.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                          </div>
                                          <div class="form-group {% if form.vessel.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.vessel.label }} :</label>
                                            <div class="col-sm-9">
                                                <select name="vessel" id="" class="form-control g-select">
                                                    <option value="">{{ form.vessel.label }}</option>
                                                    {% for vessel in vessel %}
                                                        <option value="{{ vessel.key.id() }}" {% if form.vessel.data == vessel.key or form.vessel.data|int == vessel.key.id() %} selected {% endif %}>{{ vessel.name }}</option>
                                                    {% endfor %}
                                                </select>
                                              {% for message in form.vessel.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                          </div>
                                          <div class="form-group {% if form.departure_date.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.departure_date.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.departure_date(class_='form-control', id='datepicker', autocomplete='off') }}
                                              {% for message in form.departure_date.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                          </div>

                                          <div class="form-group {% if form.schedule.errors %} has-error {% endif %} has-feedback">
                                            <label class="col-sm-3 control-label">{{ form.schedule.label }} :</label>
                                            <div class="col-sm-9">
                                              {{ form.schedule(class_='form-control', id='datetimepicker1', autocomplete='off') }}
                                              {% for message in form.schedule.errors %}
                                                <span class="help-block text-danger">{{ message }}</span>
                                              {% endfor %}

                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-10">
                                                 <button type="submit" class="btn btn-primary">Save</button>
                                                <a href="{{ url_for('Departure_Index') }}" class="btn btn-default">Return</a>
                                            </div>
                                          </div>

                                    </fieldset>
                                </form>
                            </div>
                            <div class="col-lg-4">
                                <h4>Last Activity</h4>
                                    <hr/>
                                    {% for feed in feed_tab %}
                                        <blockquote style="padding: 10px 6px;">
                                            {% if feed['nature'] == 1 %}
                                                  <p style="font-size: 13px;"><strong>New Record</strong> : {{ feed['data'] }} by {{ feed['user'].get().first_name }} {{ feed['user'].get().last_name }}</p>
                                            {% endif %}
                                            {% if feed['nature'] == 4 or feed['nature'] == 0 %}
                                                  <p style="font-size: 13px;"><strong>Record Updated</strong> : {{ feed['data'] }} by {{ feed['user'].get().first_name }} {{ feed['user'].get().last_name }}
                                                <br/>
                                                  {% if feed['last_value'] %} Preview Modification ({{ feed['last_value'] }}) {% endif %}</p>
                                            {% endif %}
                                            <footer style="font-size: 65%;">{{ feed['time']|format_date("%d-%m-%Y %H:%M") }} </footer>
                                        </blockquote>
                                    {% else %}
                                        <blockquote style="padding: 10px 6px;">
                                            <p style="font-size: 13px;"><strong>No recent activity</strong> </p>
                                        </blockquote>
                                    {% endfor %}
                            </div>
                        </div>

                </section>
            </div>
        </div>
    </div>
{% endblock %}