{% extends 'base.html' %}

{% block layout_content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                    {% include 'includes/menu-recording.html' %}
            </div>
            <div class="col-lg-10">
                <section>
                        <ol class="breadcrumb">
                          <li><a href="{{ url_for('Recording') }}">Recording</a></li>
                          <li class="active">Journeys</li>
                        </ol>

                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-hover" id="dataTableDeparture">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th class="text-center">Scheduled time</th>
                                    <th class="text-center">Expected  time (delay)</th>
                                    <th>Travel Line</th>
                                    <th>Vessel</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for departure in departures %}
                                    <tr>
                                        <td>{{ departure.departure_date|format_date("%Y-%m-%d") }}</td>
                                        <td class="text-center">{{ departure.schedule|format_date("%H:%M") }}</td>
                                        <td class="text-center">{{ departure.schedule|add_time(departure.time_delay)|format_date("%H:%M") }}
                                            {% if departure.time_delay %} ( + {{ departure.time_delay }}
                                                ) {% endif %}</td>
                                        <td>
                                            {{ departure.destination.get().destination_start.get().name }}
                                            -
                                            {{ departure.destination.get().destination_check.get().name }}
                                        </td>

                                        <td>{{ departure.vessel.get().name }} ( {{ departure.vessel.get().capacity }}
                                            )
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

        </div>
      </div>
    </div>

{% endblock %}
{% block footer_script %}
    <script>
        $('#dataTableDeparture').dataTable({
            'aoColumnDefs': [
                {'bSortable': false, 'aTargets': ['nosort']},
                {'bSearchable': false, "aTargets": ['nosort']}
            ],
             "order": [[ 0, "desc" ], [ 1, "desc" ]]
        });
    </script>
{% endblock %}

