<ul class="list-group list-menu">
  <li class="list-group-header"><i class="fa fa-hdd-o"></i> - Manage</li>

{% if current_user.has_roles(('super_admin','manager_agency')) %}
  <li class="list-group-item {% if submenu == 'departure' %} active {% endif %}">
    <div class="list-group-item-wrapper">

      <a href="{{ url_for('Departure_Index') }}">
        Journeys
      </a>
    </div>
  </li>
 <li class="list-group-item {% if submenu == 'customer' %} active {% endif %}">
    <div class="list-group-item-wrapper">

      <a href="{{ url_for('Customer_Index') }}">
        Customer
      </a>
    </div>
  </li>

    <li class="list-group-item {% if submenu == 'user' %} active {% endif %}">
        <div class="list-group-item-wrapper">

          <a href="{{ url_for('User_Index') }}">
              Agency User
          </a>
        </div>
      </li>
{% endif %}

</ul>