<nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-masthead-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('Home') }}"><img
                      src="/static/img/Comatrans-Transparent-Black-H.png" alt="" style="margin:0; height: 50px; margin-left: 15px; margin-top: -15px;"/>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse bs-example-masthead-collapse-1">


                <ul class="nav navbar-nav navbar-left">
                {% if current_user.has_roles(('super_admin','employee_POS')) %}
                    <li {% if menu == 'dashboard' %} class="active" {% endif %}><a href="{{ url_for('Dashboard') }}">Dashboard <span class="sr-only">(current)</span></a></li>
                   <!-- <li><a href="#">Boarding <span class="sr-only">(current)</span></a></li> -->
                {% endif %}
                {% if current_user.has_roles(('super_admin','employee_POS')) %}
                    <li {% if menu == 'pos' %} class="active" {% endif %}><a href="{{ url_for('Pos') }}">POS <span class="sr-only">(current)</span></a></li>
                {% endif %}
                {% if current_user.has_roles(('super_admin','employee_Boarding')) %}
                    <li {% if menu == 'boarding' %} class="active" {% endif %}><a href="{{ url_for('Boarding') }}">Boarding <span class="sr-only">(current)</span></a></li>
                {% endif %}
                {% if current_user.has_roles(('super_admin','manager_agency')) %}
                    <li {% if menu == 'recording' %} class="active" {% endif %}><a href="{{ url_for('Recording') }}">Recording <span class="sr-only">(current)</span></a></li>
                {% endif %}
                {% if current_user.has_roles(('super_admin','admin')) %}
                    <li {% if menu == 'settings' %} class="active" {% endif %} ><a href="{{ url_for('Settings') }}">Settings <span class="sr-only">(current)</span></a></li>
                {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                <li {% if menu == 'ticket_available' %} class="active" {% endif %} ><a {% if current_user.have_agency() %} href="{{ url_for('Ticket_POS') }}" {% endif %}><span {% if menu != 'ticket_available' %} class="label label-info" {% endif %} id="remaining_ticket">{{ current_user.remaining_ticket() }}</span></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.full_name() }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
{#                    <li><a href="#">Profil</a></li>#}
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout_user') }}">Logout</a></li>
                  </ul>
                </li>
                <li><a><strong>Agency :</strong> {{ current_user.agencys() }}</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
